.Logo {
  font-family: 'Cutive Mono', serif;
  font-size: 1.5em;
}

.Logo a {
  color: white;
  text-decoration: none;
}

.HeaderToolbar {
  display: flex;
  justify-content: space-between;
}

.fab {
  color: white;
}
