.Problem {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1;
}
.Table {
  width: 300px;
  margin: auto;
}
.ProblemPlaceholder {
  font-style: italic;
  align-self: center;
  flex: 1;
}