.Problem {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1;
}
.Table {
  width: 300px;
  margin: auto;
}
.TableFooter {
  align-self: center;
  font-family: 'Roboto', sans-serif;
  color: #444;
  font-weight: lighter;
}
.ProblemPlaceholder {
  font-style: italic;
  align-self: center;
  flex: 1;
}