.Home {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  margin-top: -94px;
}

.Divider {
  border-right: 1px dotted #cfd8dc;
}

.Home .Left img,
.Home .Right {
  width: 400px;
}

.Home .Right {
  font-family: 'Cutive Mono', serif;
  font-size: 2em;
  padding-left: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.YearDisplay {
  font-size: 2.5em;
  line-height: 1em;
}

.Right i {
  margin-left: 1em;
}
