.Score {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1;
}

.Login, .FileUpload {
  margin-bottom: 1em;
}

.Submit, .Accuracy, .ErrorMessage {
  align-self: center;
}

.Accuracy {
  padding: 1em;
  font-size: 1em;
  font-weight: lighter;
  font-family: 'Cutive Mono', serif;
}

.ErrorMessage {
  color: #ff0000;
  font-size: 1em;
  font-weight: lighter;
  font-family: 'Cutive Mono', serif;
  padding: 1em;

}