.Score {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1;
}

.Instructions {
  width: 50%;
  align-self: center;
  margin: 1em 1em 2em 1em;
}

.Loader {
  align-self: center;
  padding: 2em;
  flex: 1;
}

.Login, .FileUpload {
  margin-bottom: 1em;
}

.Submit, .Accuracy, .ErrorMessage {
  align-self: center;
}

.Accuracy {
  padding: 1em;
  font-size: 1em;
  font-weight: lighter;
  font-family: 'Cutive Mono', serif;
}

.ErrorMessage {
  color: #cc0000;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Cutive Mono', serif;
  padding: 1em;
}