.Schedule {
  display: flex;
  flex-direction: row;
  line-height: 2.5em;
  padding: 24px;
  flex-wrap: wrap;
}

.Meme {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Meme img {
  width: 450px;
  min-width: 250px;
}

.Event {
  display: flex;
  justify-content: center;
}

.Time {
  font-weight: 400;
  width: 5em;
  text-align: right;
}

.Description {
  margin-left: 1em;
  width: 20em;
  text-align: left;
}
