.Schedule {
  text-align: center;
  display: flex;
  flex-direction: row;
  line-height: 2.5em;
  padding: 24px;
}

.Event {
  display: flex;
  justify-content: center;
}

.Time {
  font-weight: 400;
  width: 5em;
  text-align: right;
}

.Description {
  margin-left: 1em;
  width: 20em;
  text-align: left;
}

.Meme img {
  max-width: 475px;
}

.Meme {
  flex-grow: 1;
  text-align: right;
}
