.ImageWrapper {
  text-align: center;
}

.LifecycleImage,
.ConversationImage {
  width: 50%;
  min-width: 400px;
}

.Label {
  font-weight: 400;
}

.Label:after {
  content: ': ';
}

.FlexContainer {
  display: flex;
  flex-direction: row;
}
 
.DataButtons {
  text-align: center;
}

.DataButtons Button {
  margin: 0 12px;
  width: 15em;
}

.DownloadIcon {
  margin-left: 1em;
}

.ImageInfo {
   margin-right: 5%;
 }
