.ImageWrapper {
  text-align: center;
}

.ImageWrapper img {
  margin-right: 3em;
}

.LifecycleImage,
.ConversationImage {
  width: 50%;
  min-width: 400px;
}

.Label {
  font-weight: 400;
}

.Label:after {
  content: ': ';
}

.DataButtons {
  text-align: center;
}

.DataButtons button {
  margin: 0 12px;
}

.DataButtons i {
  margin-left: 0.75em;
}

.ImageInfo {
  margin-right: 5%;
}
