.Problems {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-grow: 1;
  margin-top: 94px; /* AppBar is 64px */
}

.ImageWrapper {
  text-align: center;
}

.LifecycleImage {
  width: 50%;
}
