@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Roboto:300,300i,400');

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #444;
  font-size: 1.25em;
  line-height: 1.75;
  padding: 0 24px;
  font-weight: 300;
}

p a {
  color: #444;
  padding-bottom: 0.1em;
  font-style: italic;
  text-decoration: none;
  border-bottom: 2px dotted #999;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 .App {
   width: 100%;
 }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
 .App {
   width: 95%;
 }
}

@media only screen  and (min-width : 1224px) {
 .App {
   width: 85%;
 }
}

@media only screen  and (min-width : 1824px) {
 .App {
   width: 65%;
 }
}