.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
}

.Problems,
.FAQ,
.Schedule {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-grow: 1;
  width: 100%;
  margin-top: 94px; /* AppBar is 64px */
}

.ContentHeader {
  color: #263238;
  font-weight: 300;
  font-size: 1.25em;
  padding: 1em 0 0.5em 0;
  margin: 0 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #eceff1;
}

p,
li,
.UnstyledList,
.CodeBlock {
  color: #263238;
  font-weight: 300;
  line-height: 1.75;
}

p,
.UnstyledList {
  padding: 0 24px;
}

p a,
ul a {
  text-decoration: none;
  border-bottom: 1px dotted #607d8b;
  color: #607d8b;
}

.UnstyledList {
  list-style-type: none;
}

.CodeBlock {
  padding-left: 24px;
}

.CodeBlockCode {
  background-color: #263238;
  color: #fff;
  font-size: 1.25em;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1em;
  margin-top: 0;
}

.CodeBlockTitle {
  background-color: #37474f;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: 400;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .App {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .App {
    width: 95%;
  }
}

@media only screen and (min-width: 1224px) {
  .App {
    width: 75%;
  }
}

@media only screen and (min-width: 1824px) {
  .App {
    width: 65%;
  }
}
