.Leaderboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
  align-content: center;
}

.TopScore {
  margin-bottom: 0.25em;
  font-size: 2em;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  align-self: center;
}

.Disclaimer {
  font-size: 1.25em;
  line-height: 1.5;
  margin: 1em 0;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.TopScore:first-of-type {
  padding-top: 0;
}

.ScoreIndex {
  margin-right: 1em;
  font-weight: normal;
}